.contactSocial
{
    margin-left:370px
}

@media only screen and (min-width: 769px) and (max-width: 1110px) {
   
    .contactSocial
{
    margin-left:370px
}
   
  }
  @media only screen and (min-width: 481px) and (max-width: 769px) {
   
    .contactSocial
{
    margin-left:240px
}
  }
  @media only screen and (min-width: 321px) and (max-width: 480px) {
    .contactSocial
    {
        margin-left:0px
  }
}
  @media only screen and (max-width: 320px) {
    .contactSocial
    {
        margin-left:0px
    }
  }
